@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Documentação - ProjetoElevador</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
</br></br>

Ao executar o programa ProjetoElevador é apresentado uma tela de console para interação com o usuário.</br></br>

<h5>Inicializar</h5></br>


O usuário é questionado sobre a capacidade de pessoas do elevador e quantos andares possui o prédio (desconsiderando o térreo).</br>
Para fins didáticos, no programa o elevador sempre começará no térreo e desocupado.</br>
Após a entrada de dados (somente números inteiros), surge na tela as opções de ação a seguir.</br>
</br>
 <img src="~/img/tela_inicial1.JPG"/>
 </br></br></br>
  <img src="~/img/tela_inicial2.JPG"/>
 </br></br></br>

 <h5>1 - Entrar</h5></br>

É apresentado um painel da ação escolhida seguido de mensagem de entrada de um passageiro, andar e lotação correntes; um aviso é gerado caso a capacidade esteja no limite.
</br></br>
 <img src="~/img/entrar1.JPG"/>
 </br></br></br>
  <img src="~/img/entrar2.JPG"/>
 </br></br></br>

 <h5>2 - Sair</h5></br>

É apresentado um painel da ação escolhida seguido de mensagem de saída de um passageiro, andar e lotação correntes; um aviso é gerado caso o elevador esteja desocupado.
</br>
 <img src="~/img/sair1.JPG"/>
 </br></br></br>
  <img src="~/img/sair2.JPG"/>
 </br></br></br>

 <h5>3 - Subir</h5></br>

É apresentado um painel da ação escolhida seguido de mensagem da subida do elevador, andar e lotação correntes; um aviso é gerado se o elevador estiver no último andar.
</br>
 <img src="~/img/subir1.JPG"/>
 </br></br></br>
  <img src="~/img/subir2.JPG"/>
 </br></br></br>

 <h5>4 - Descer</h5></br>

É apresentado um painel da ação escolhida seguido de mensagem da descida do elevador, andar e lotação correntes; um aviso é gerado se o elevador já estiver no térreo.
</br>
 <img src="~/img/descer1.JPG"/>
 </br></br></br>
  <img src="~/img/descer2.JPG"/>
 </br></br></br>

 <h5>5 - Encerrar</h5></br>

É apresentada uma mensagem da ação escolhida e o programa é finalizado.
</br></br>